<h1>Contact</h1>
<form action="https://formspree.io/emilio@jsjutsu.com"
      method="POST" class="contact-form">
  <div class="contact-form__block">
    <input type="text" name="name" class="contact-form__name" placeholder="Name..." required>
    <input type="email" name="email" class="contact-form__email" placeholder="Email..." required>
  </div>
  <input type="hidden" name="_next" value="//site.io/thanks.html" />
  <textarea name="message" cols="30" rows="10" class="contact-form__message" placeholder="Message..." required></textarea>
  <input type="submit" class="contact-form__submit">
</form>
